<% if @restaurants.any? %>
	<% @restaurants.each do |restaurant| %>
		<h2><%= restaurant.name %>
	<% end %>
<% else %>
	No restaurants listed
<% end %>
	<a href='/restaurants/new'>Add a restaurant</a>