<% if @restaurants.any? %>
	<ul class='restaurant-list'>
		<% @restaurants.each do |restaurant| %>
			<li class='restaurant-list-item'>
				<%= restaurant.name %> | <%= restaurant.cuisine %> |
				<%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?'} %>
			</li>
		<% end %>	
	</ul>
<% else %>
	No restaurants listed
<% end %>
<a href='/restaurants/new'>Add a restaurant</a>