<section class='new-restaurant-input'>
	<%= form_for Restaurant.new, html: {class: 'new-restaurant-input'} do |f| %>
		<%= f.text_field :name, placeholder: 'Restaurant name' %>
		<%= f.text_field :cuisine, placeholder: 'Cuisine' %>
		<%= f.button 'Add Restaurant' %>
	<% end %>
</section>