<section class='new-restaurant-input'>
	<form class='new-restaurant-form' action='/restaurants' method='post'>
		<input type='text' name='restaurant_name' placeholder='Restaurant name'>
		<input type='text' name='restaurant_cuisine' placeholder='Cuisine'>
		<button class='new-restaurant-button' type='submit'>Add Restaurant</button>
	</form>
</section>