/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-color: #daede2;
	font: 75% georgia, sans-serif;
	margin: 0;
}

header {
	background-color: #ea2e49 ;
	height: 70px;
	width: 100%;
	display: inline-block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	text-align: center;
}

ul {
	list-style: none;
}

main {
	background-color: #93c4c4;
	padding-top: 70px;
	margin: 0 auto;
	width: 80%;
}

h1 {
	color: white;
	font-size: 60px;
	margin: 0 auto;
	margin-left: 100px;
	float: left;
	display: inline-block;
}

h2 {
	font-family: "tablet-gothic",verdana,arial,sans-serif;
	color: white;
	font-size: 25px;
	font-weight: normal;
}

h3 {
	font-family: "tablet-gothic",verdana,arial,sans-serif;
	color: white;
	font-size: 18px;
	font-weight: normal;
}

a {
	font-family: "tablet-gothic",verdana,arial,sans-serif;
	color: white;
	font-weight: normal;
	text-decoration: none;
}

a:hover, a:focus, a:active { 
	border-color: #9685BA;
	border-bottom: 1px solid #ea2e49;
}

a {
	border-color: transparent;
	transition: border-color 0.2s ease-in-out;
}


/*rgba(51,55,69,0.9) grey*/
/*rgba(246,247,146,0.9) green*/
/*#daede2 blue-green*/
/*#ea2e49 red*/
/*#5cbbef blue*/