.restaurant-list {
	display: inline-block;
	width: 95%;
	padding: 20px;
	margin: 0 auto;
}

.restaurant-list-item {
	margin: 20px;
	background-color: rgba(51,55,69,0.9);
	padding: 10px;
}

.restaurant-list-item-data{
	display: inline-block;
}

.restaurant-list-item h2 {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.restaurant-list-item h3 {
	display: flex;
	margin-top: 2px;
	margin-bottom: 2px;
}

.list-item-score {
	float: right;
	margin-right: 20px;
}

.restaurant-reviews-list {
	background-color: rgba(246,247,146,0.9);
	margin-bottom: 5px;
	margin-top: 5px;	
}

.restaurant-list-item-options > a {
	font-size: 16px;
	margin-left: 5px;
	margin-right: 5px;
}

.restaurant-input-form {
	height: 150px;
	width: 300px;
}

.restaurant-input-form > input {
	font-size: 16px;
	color: white;
	float: right;
	margin: 5px;
}

.restaurant-input-form > label {
	color: white;
	float: left;
	margin-bottom: 15px;
}

/*Widget*/
.ui-widget-header {
	background: none !important;
	background-color: #ea2e49 !important;
	border: none !important;
	font-size: 18px !important;
	font-family: "tablet-gothic",verdana,arial,sans-serif !important;
	color: white !important;
	font-weight: normal !important;
	text-align: center !important;
	border-radius: none;
}

.ui-dialog {
	padding: 0px !important;
}

.ui-widget-content {
	border: none !important;
	background: none !important;
	background-color: rgba(51,55,69,0.9) !important;
}

.ui-widget-content  input {
	color: black	;
}