
.review-rating {
	display: inline-block;
	font-size: 15px;
	font-style: normal;
	color: black;
	font-family: "tablet-gothic",verdana,arial,sans-serif;
}

.review-comment {
	display: inline-block;
	font-size: 15px;
	color: black;
	font-family: "tablet-gothic",verdana,arial,sans-serif;
}

.review-list-item > p {
	margin: 5px;
}

em {
	color: black;
}

.review-input-form {
	height: 150px;
	width: 300px;
}