.user-action {
	margin: 5px;
	margin-left: 21%;
	font: 200% georgia, sans-serif;
	font-weight: bold;
}

.forgotten-link {
	margin: 5px;
	margin-left: 20.5%;
	font-size: 14px;
}

input[type="submit"] {
	background-color: rgba(246,247,146,0.9);
	border: none;
	font-family: "tablet-gothic",verdana,arial,sans-serif;
	font-weight: 500;
	padding: 5px;
	font-size: 16px;
	cursor: pointer;
}
